
.courseView {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    padding-bottom: 75px;
    background-color: #808080;
    border-style: solid;
    border-width: 7px;
    border-color: whitesmoke;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    padding-right: 50px;
    padding-left: 50px;
    width: 50%;
    color: whitesmoke;
}
h3 {
    padding-right: 75px;
    padding-left: 75px;
    color: whitesmoke;
}
h2 {
    margin-bottom: 0px;
    padding-right: 50px;
    padding-left: 50px;
    color: whitesmoke;
}
h4 {
    color: whitesmoke;
    padding-right: 50px;
    padding-left: 50px;
}

.course {
    margin: 0px;
    padding: 5px 0px 5px 30px;
}
.course:hover {
    background-color: rgb(216, 210, 17);
    color:black;
    cursor: pointer;
}

/* start screen CSS */

.start-header {
    text-align: center;
}
.start-button {
    text-align: center;
    margin-top: 40px;
    margin-left: 400px;
    margin-right: 400px;
    background-color: green;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5%;
}

.start-button:hover {
    cursor: pointer;
    background-color:rgb(216, 210, 17);
}
